body{
  /*background: url('../img/background.jpeg');*/
  width: 800px;
  height: 600px;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
/*
  ActionBar heigt: 56px;
*/

.toolbar{
  cursor: move;
  -webkit-app-region: drag;
}

.main{
  height: 552px;
}

input:focus{
  outline: none;
}

#searchQuery{
  width: 90%;
  border-radius: 15px;
  border: #888 1px solid;
  line-height: 20px;
  font-size: 14px;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline: none;
}

#searchQuery:focus{
  outline: none;
}

.music-list-holder{
  /*background: url('../img/background.jpeg');*/
  background: #18226A;
  height: 552px;
}

.music-list{
  height: 510px;
  list-style: none;
  overflow-y: auto;
}


::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #F47500;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}

.song-item{
  padding: 5px;
  color: #eeeeee;
  background: rgba(0,0,0,0.4);
  transition-duration: 500ms;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 1px;
}

.song-item:hover{
  background: rgba(0,0,0,0.9);
  transition-duration: 500ms;
}

.player-extras{
  background: url('../img/player-background.jpg');
  background-position: -416px -387px;
  height: 350px;
}

.player-extras > .thumbnail{
  background: url('../img/footer_lodyas.png');
  background-repeat: repeat;
  position: absolute;
  width: 180px;
  height: 180px;
  border: 5px groove #000;
  top: 192px;
  left: 443.26px;
}

.thumbnail-img{
  width: 180px;
  height: 180px;
  object-fit: none;
  object-position: left;
}

.player-controls{
  height: 50px;
  background: url('../img/black_twill.png') ;
  background-repeat: repeat;
  border: 1px solid #000;
  z-index: 3;
}

.fa{
  color: #ccc;
  font-size: 24px;
  cursor: pointer;
  line-height: 50px;
  transition-duration: 250ms;
}

.fa-play-circle, .fa-pause-circle{
  font-size: 48px;
  line-height: 50px;
}

.fa:hover{
  color: #fff;
  transition-duration: 250ms;
}

/* Prev, Play, Next Buttons */
.control:nth-child(2), .control:nth-child(1){
  text-align: right;
}
.control:nth-child(3){
  text-align: center;
}
.control:nth-child(4), .control:nth-child(5){
  text-align: left;
}

/* Repeat and Shuffle Buttons */
.control:nth-child(1) span, .control:nth-child(5) span{
  position: absolute;
  top: 426px;
  width: 30px;
  text-align: center;
}

/*.control:nth-child(1) a, .control:nth-child(5) a{
  display: block;
}*/

.control:nth-child(1) p, .control:nth-child(5) p{
  font-size: 8px;
  color: #eee;
}
.control:nth-child(1) span{
  left: 293px;
}
.control:nth-child(5) span{
  right: 31px;
}
.control:nth-child(1) .fa, .control:nth-child(5) .fa{
  font-size: 16px;
}
.control:focus{
  outline: none;
}

.player-options{
  padding: 10px 5px;
  padding-bottom: 33px;
  background: url('../img/blackmamba.png');
  background-repeat: repeat;
  position: relative;
  height: 133px;
  z-index: 0;
  color: #fff;
}

md-slider-container{
  cursor: pointer;
}

.player-options md-slider-container{
  width: 100%;
}

#audio-seekbar{
  padding: 0 10px;
}

.seekbar{
  line-height: 25px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.player-options p{
  display: block;
  width: 100%;
  text-align: center;
}

.overlay-black{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.volume-control-holder{
  position: absolute;
  width: 50%;
  bottom: 0px;
  right: 0px;
  left: 50%;
  padding: 2px 10px 10px 5px;
  line-height: 12px;
  margin-bottom: 5px;
  font-size: 12px;
}

i:focus{
  outline: none;
}

.volume-control-holder md-slider-container{
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 15px;
}

.md-hue-green{
  color: #2E7D32;
}
