body{
  width: 600px;
  height: 400px;
  overflow: hidden;
  color: #222;
  border: 2px solid #fff;
}

md-toolbar{
  -webkit-app-region: drag;
}


button:focus, button, a, p{
  outline: none;
}

.blackborder{
  position: fixed;
  width: 598px;
  height: 398px;
  border: 2px #000 solid;
  z-index: 999;
  pointer-events: none;
}

.main{
  background: #f8f8f8;
  height: 352px;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #2837AD;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #858DC5;
}

.setting-item{
  /*width: 100%;*/
  padding: 15px;
}

.music-libraries-label{
  line-height: 120px;
}

.excluded-libraries-label{
  line-height: 80px;
}

label{
  font-size: 14px;
}

.music-libraries, .excluded-libraries{
  background: #eee;
  border: 2px #aaa groove;
  height: 120px;
  font-size: 12px;
  line-height: 16px;
}

.excluded-libraries{
  height: 80px;
}

.music-libraries ul, .excluded-libraries ul{
  list-style-image: url('../img/folder-icon.png');
  overflow-y: auto;
}

.music-libraries ul li{
  cursor: pointer;
  width: 90%;
  margin-top: 2px;
}

.music-libraries > div, .excluded-libraries >div{
  background: #ddd;
  padding: 0px;
}

.music-libraries ul li:hover, .active-library{
  background: #95B3F2;
  color: #fff;
  transition-duration: 250ms;
}

.music-libraries ul li:focus{
  /*background: #5A8AEF;*/
  color: #fff;
  outline: none;
  transition-duration: 250ms;
}

.active-library, .music-libraries ul li:hover:focus{
  /*background: #f00;*/
  background: #3F42FF;
}

footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-right: 10px;
}

footer button{
  border: none;
  color: rgb(40,53,147);
  font-size: 14px;
  /*background: rgb(40,53,147);*/
  background: none;
  transition-duration: 250ms;
  box-shadow: 0px 0px 5px #ddd;
  padding: 3px 20px;
}


footer button:hover{
  color: #fff;
  transition-duration: 350ms;
  box-shadow: 0px 0px 5px #000;
  background: rgb(30,46,116);
}

.library-manipulation{
  width: 30px;
  height: 30px;
  margin-left: 8px;
  border: none;
  margin-top: 5px;
  background: none;
  transition-duration: 250ms;
}

.library-manipulation .fa{
  font-size: 20px;
  line-height: initial;
  color: #222;
}

.library-manipulation:hover{
  transition-duration: 250ms;
  background: #eee;
}
