<!DOCTYPE html>
<html ng-app="MusicPlayer">
<head>
  <title>My Music Player</title>
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body ng-controller="MainController" ng-init="init()">

  <md-toolbar class="md-hue-2 toolbar">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
      </md-button>
      <h2>
        <span>MUSIC PLAYER</span>
      </h2>
      <span flex=""></span>
    </div>
  </md-toolbar>


  <div layout="row" class="main">
    <div class="music-list" flex="33">
      <center><input type="text" ng-model="searchQuery" placeholder="&#9906; Search" id="searchQuery" /></center>
      <div ng-repeat="song in songs">
      <a  ng-click="play($index)"><li class="song-item">{{song | extentionFixer}}</li></a>
      </div>
    </div>
    <div class="music-player" flex="66">
      <div layout="row">
        <div class="player-thumbnail">
          <span class="bottom">{{ currentSong.name }}</span>
        </div>
      </div>
      <div class="player-controls" layout="row">

        <div class="control" flex="10">

            <a href="#" ng-click="toggleLoop()"><i class="fa fa-refresh" aria-hidden="true"></i></a>
            <br /><span><p>{{ player.repeat }}</p>
          </span>
        </div>

        <div class="control" flex="20">
          <a href="#" ng-click="prev()"><i class="fa fa-fast-backward" aria-hidden="true"></i></a>
        </div>
        <div class="control" flex="40">
          <a ng-click="togglePlay()">
            <i class="fa" ng-class="player.playClass" aria-hidden="true">
            </i>
          </a>
        </div>
        <div class="control" flex="20">
          <a ng-click="next()"><i class="fa fa-fast-forward" aria-hidden="true"></i></a>
        </div>
        <div class="control" flex="10">

            <a href="#" ng-click="toggleShuffle()"><i class="fa fa-random" aria-hidden="true"></i></a>
            <br />
            <span>
            <p>{{ player.shuffle }}</p>
          </span>
        </div>
      </div>
      <div class="player-options">

      </div>
    </div>
  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="../bower_components/angular-messages/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="../bower_components/angular-material/angular-material.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script src="js/song-name-replacer-filter.js"></script>

</body>
</html>
