<!DOCTYPE html>
<html ng-app="MusicPlayer" style="overflow:hidden">
<head>
  <title>My Music Player</title>
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body ng-controller="MainController" ng-init="init()">
  <div class="blackborder"></div>

  <md-toolbar class="md-hue-2 toolbar">
    <div class="md-toolbar-tools">
      <i class="fa fa-cog" onclick="showSettings()"></i>&nbsp;&nbsp;
      <h2>
        <span>MUSIC PLAYER</span>
      </h2>
      <span flex="">

      </span>
      <div class="buttons">
        <i class="fa fa-window-minimize" onclick="minimize()"></i>&nbsp;&nbsp;
        <i class="fa fa-close" onclick="closeWindow()"></i>
      </div>
    </div>
  </md-toolbar>


  <div layout="row" class="main">

    <!-- Left Pane -->
    <div class="music-list-holder" flex="33">

      <center><input type="text" ng-model="searchQuery" placeholder="&#9906; Search" id="searchQuery" /></center>

      <div layout="row" flex="100" class="playlist-buttons-div">
        <div class="playlist-button" flex="25" ng-class="{'playlist-active': currentView===0}">
          <button ng-click="changeView(0)" title="Playlist"><i class="fa fa-list-alt"></i></button>
        </div>
        <div class="playlist-button" flex="25" ng-class="{'playlist-active': currentView===1}">
          <button ng-click="changeView(1)" title="Albums"><i class="fa fa-th-large"></i></button>
        </div>
        <div class="playlist-button" flex="25" ng-class="{'playlist-active': currentView===2}">
          <button ng-click="changeView(2)" title="All Songs"><i class="fa fa-list-ul"></i></button>
        </div>
        <div class="playlist-button" flex="25" ng-class="{'playlist-active': currentView===3}">
          <button ng-click="changeView(3)" title="Folders"><i class="fa fa-folder"></i></button>
        </div>
      </div>

      <div class="music-list">

        <!-- Playlsit View -->
        <div ng-if="currentView===0">
          <div ng-repeat="playlist in playlists" class="folder-item-holder md-accordion">
            <div class="folder-item" ng-init="playlist.expanded=false" ng-click="playlist.expanded=!playlist.expanded">
              <i class="fa fa-book"></i>&nbsp;&nbsp;<u>{{ playlist.name }}</u>
            </div>
            <div ng-class="{dataContent:true, activeContent:playlist.expanded}" class="folder-items">
              <div ng-repeat="song in playlist.songs" ng-class="{'active-song': song.song===currentSong.name}" class="song-item-holder" layout="row">
                <a ng-click="playFromPlaylist($parent.$index, $index)" flex="90">
                  <div class="song-item">
                    <i class="fa" ng-class="isPlaying?'fa-play':'fa-pause'" ng-if="song.song===currentSong.name">&nbsp;&nbsp;</i>{{ song.song | extentionFixer }}
                  </div>
                </a>
                <div class="song-item" flex="10" title="Remove from Playlist" ng-click="deleteFromPlaylist($parent.$index, $index)">
                  <i class="fa fa-close"></i>
                </div>
              </div>
            </div>
          </div>
          <center><span class="countSpan">{{ playlists.length }}&nbsp; Playlists</span></center>
        </div>

        <!-- Album View -->
        <div ng-if="currentView===1">
          <div ng-repeat="album in albumSorted" class="directory-item-holder md-accordion">
            <div class="directory-item" ng-init="album.expanded=false" ng-click="album.expanded=!album.expanded">
              <img ng-src="{{ album.imageURL }}" src="img/album-empty.jpeg" />
              <i class="fa fa-book"></i>&nbsp;&nbsp;{{ album.album }}
            </div>
            <div ng-class="{dataContent:true, activeContent:album.expanded}">
              <div ng-repeat="song in album.songs" ng-class="{'active-song': song.song===currentSong.name}" class="song-item-holder" layout="row">
                <a ng-click="play($parent.$index, $index)" flex="90">
                  <div class="song-item">
                    <i class="fa" ng-class="isPlaying?'fa-play':'fa-pause'" ng-if="song.song===currentSong.name">&nbsp;&nbsp;</i>{{ song.song | extentionFixer }}
                  </div>
                </a>
                <md-menu flex="10"  >
                  <div class="menu-button" ng-click="$mdOpenMenu($event)">
                    <i md-menu-origin class="fa fa-caret-down"></i>
                  </div>
                  <md-menu-content md-menu-align-target>
                    <md-menu-item>
                      <md-button ng-click="play($parent.$parent.$index, $index)">Play</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="addToCurrentPlaylist($parent.$parent.$index, $index)">Add to Queue</md-button>
                    </md-menu-item>
                  </md-menu-content>
                  <!-- <i class="fa fa-caret-down"></i> -->
                </md-menu>
              </div>
            </div>
          </div>
          <center><span class="countSpan">{{ player.songCount }}&nbsp; songs in {{ player.albumCount }}&nbsp; Albums</span></center>
        </div>

        <!-- All Songs -->
        <div ng-if="currentView===2">
          <div  ng-repeat="song in currentSongs">
            <div class="song-item-holder" ng-class="{'active-song': song.song===currentSong.name}" layout="row">
              <a  ng-click="play(0,$index)" flex="90">
                <div class="song-item">
                  <i class="fa" ng-class="isPlaying?'fa-play':'fa-pause'" ng-if="song.song===currentSong.name">&nbsp;&nbsp;</i>{{song.song | extentionFixer}}
                </div>
              </a>
              <md-menu flex="10"  >
                <div class="menu-button" ng-click="$mdOpenMenu($event)">
                  <i md-menu-origin class="fa fa-caret-down"></i>
                </div>
                <md-menu-content md-menu-align-target>
                  <md-menu-item>
                    <md-button ng-click="play(0, $index)">Play</md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="addToCurrentPlaylist($index)">Add to Queue</md-button>
                  </md-menu-item>
                </md-menu-content>
                <!-- <i class="fa fa-caret-down"></i> -->
              </md-menu>
            </div>
          </div>
          <center><span class="countSpan">{{ player.songCount }}&nbsp; songs </span></center>
        </div>

        <!-- Folder View -->
        <div ng-if="currentView===3" class="md-accordion">
          <div ng-repeat="folder in folderSorted" class="folder-item-holder" >
            <div class="folder-item" ng-init="folder.expanded=false" ng-click="folder.expanded=!folder.expanded">
              <i class="fa fa-folder"></i>&nbsp;&nbsp;<u>{{ folder.directory | directoryNameFixer}}</u>
            </div>
            <div  ng-class="{dataContent:true, activeContent:folder.expanded}">
              <div ng-repeat="song in folder.songs" class="song-item-holder"  ng-class="{'active-song': song.song===currentSong.name}" layout="row">
                <a  ng-click="play($parent.$index, $index)" flex="90">
                  <div class="song-item">
                    <i class="fa" ng-class="isPlaying?'fa-play':'fa-pause'" ng-if="song.song===currentSong.name">&nbsp;&nbsp;</i>{{song.song | extentionFixer}}
                  </div>
                </a>
                <md-menu flex="10"  >
                  <div class="menu-button" ng-click="$mdOpenMenu($event)">
                    <i md-menu-origin class="fa fa-caret-down"></i>
                  </div>
                  <md-menu-content md-menu-align-target>
                    <md-menu-item>
                      <md-button ng-click="play($parent.$parent.$index, $index)">Play</md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="addToCurrentPlaylist($parent.$parent.$index, $index)">Add to Queue</md-button>
                    </md-menu-item>
                  </md-menu-content>
                  <!-- <i class="fa fa-caret-down"></i> -->
                </md-menu>
              </div>
            </div>
          </div>
          <center><span class="countSpan">{{ player.songCount }}&nbsp; songs in {{ player.folderCount }}&nbsp; Folders</span></center>
        </div>


      </div>
    </div>



    <!-- Right pane -->
    <div class="music-player" flex="66">
      <!-- Top major part -->
      <div layout="row" class="player-extras">
        <div class="overlay-black"></div>
        <div class="thumbnail">
          <img ng-src="{{ currentSong.imageURL }}"  src="img/album-empty.jpeg" class="thumbnail-img" />
        </div>
      </div>

      <!-- Controls -->
      <div class="player-controls" layout="row">
        <div class="control" flex="10" ng-click="toggleRepeat()">
          <a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a>
          <br /><span><p>{{ player.repeat }}</p>
        </span>
      </div>

      <div class="control" flex="20">
        <a href="#" ng-click="prev()"><i class="fa fa-fast-backward" aria-hidden="true"></i></a>
      </div>
      <div class="control" flex="40">
        <a ng-click="togglePlay()">
          <i class="fa" ng-class="player.playClass" aria-hidden="true">
          </i>
        </a>
      </div>
      <div class="control" flex="20">
        <a ng-click="next()"><i class="fa fa-fast-forward" aria-hidden="true"></i></a>
      </div>
      <div class="control" flex="10" ng-click="toggleShuffle()">
        <a href="#"><i class="fa fa-random" aria-hidden="true"></i></a>
        <br />
        <span>
          <p>{{ player.shuffle }}</p>
        </span>
      </div>
    </div>

    <!-- Bottom options -->
    <div class="player-options">
      <div layout="row" class="seekbar" flex="100">
        <md-slider-container>
          {{ player.currentTime | timeConverter }}<md-slider min="0" max="{{ player.duration }}" ng-model="player.currentTime" type="range" name="seekbar" id="audio-seekbar" ng-mouseup="changePlayback()"></md-slider>{{ player.endTime | timeConverter }}
        </md-slider-container>
      </div>
      <div layout="row" flex="100">
        <p ng-if="currentSong.name.length<45">{{ currentSong.name | extentionFixer}}</p>
        <!-- TODO: Marquee deprecated. Change this whenever possible -->
        <marquee ng-if="currentSong.name.length>=45" scrollamount=5 style="width: 60%; margin-left: 20%;">{{ currentSong.name | extentionFixer}}</marquee>
      </div>
      <div layout="row" class="bottom-controls" flex="100">
        <div class="current-playlist" flex="60" layout="row" ng-click="showCurrentPlayist($event)">
          <span ng-if="player.repeat!=='Current' && player.shuffle!=='On' && currentSong.next!==''"><b><u>Next:</u></b>&nbsp;&nbsp;{{ currentSong.next | extentionFixer }}&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down rotate-180"></i></span>
        </div>
        <div flex="40">
          <div class="volume-control-holder" layout="row">
            <i class="fa fa-volume-down" ng-click="decreaseVolume()"></i>
            <md-slider-container>
              <md-slider min="0" max="100" class="md-primary md-hue-4" ng-model="player.volume" step="5" type="range" name="volume-seekbar" id="volume-seekbar" ng-mouseup="changeVolume()"></md-slider>
            </md-slider-container>
            <i class="fa fa-volume-up" ng-click="increaseVolume()"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>

<!-- Custom Angular filters -->
<script src="js/song-name-replacer-filter.js"></script>
<script src="js/directory-name-replacer-filter.js"></script>
<script src="js/time-converter.js"></script>

<script type="text/javascript" src="js/window-interfacer.js"></script>

</body>
</html>
