<!DOCTYPE html>
<html ng-app="MusicPlayer" style="overflow:hidden">
<head>
  <title>My Music Player</title>
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body ng-controller="MainController" ng-init="init()">
  <div class="blackborder"></div>

  <md-toolbar class="md-hue-2 toolbar">
    <div class="md-toolbar-tools">
      <i class="fa fa-cog" onclick="showSettings()"></i>&nbsp;&nbsp;
      <h2>
        <span>MUSIC PLAYER</span>
      </h2>
      <span flex="">

      </span>
      <div class="buttons">
        <i class="fa fa-window-minimize" onclick="minimize()"></i>&nbsp;&nbsp;
        <i class="fa fa-close" onclick="closeWindow()"></i>
      </div>
    </div>
  </md-toolbar>


  <div layout="row" class="main">

    <!-- Left Pane -->
    <div class="music-list-holder" flex="33">

      <center><input type="text" ng-model="searchQuery" placeholder="&#9906; Search" id="searchQuery" /></center>

      <div layout="row" flex="100" class="playlist-buttons-div">
        <div class="playlist-button" flex="25">
          <button ng-click="changeView(0)" title="Playlist"><i class="fa fa-list-alt"></i></button>
        </div>
        <div class="playlist-button" flex="25">
          <button ng-click="changeView(1)" title="Albums"><i class="fa fa-th-large"></i></button>
        </div>
        <div class="playlist-button" flex="25">
          <button ng-click="changeView(2)" title="All Songs"><i class="fa fa-list-ul"></i></button>
        </div>
        <div class="playlist-button" flex="25">
          <button ng-click="changeView(3)" title="Folders"><i class="fa fa-folder"></i></button>
        </div>
      </div>

      <div class="music-list">

        <!-- Album View -->
        <div ng-if="currentView===1">
          <div ng-repeat="album in albumSorted" class="directory-item-holder md-accordion">
            <div class="directory-item" ng-init="album.expanded=false" ng-click="album.expanded=!album.expanded">
              <i class="fa fa-book"></i>&nbsp;&nbsp;<u>{{ album.album }}</u>
            </div>
            <div ng-class="{dataContent:true, activeContent:album.expanded}">
              <div ng-repeat="song in album.songs" class="song-item-holder">
                <a ng-click="play($parent.$index, $index)">
                  <div class="song-item">
                    {{ song.song }}
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- All Songs -->
        <div ng-if="currentView===2">
        <div ng-repeat="song in currentSongs" class="song-item-holder" layout="row">
            <a  ng-click="play($index)" flex="90">
              <div class="song-item">
                {{song.file | extentionFixer}}
              </div>
            </a>
            <div class="song-item" flex="10">
            <md-menu>
                <i  ng-click="$mdOpenMenu($event)" md-menu-origin class="fa fa-caret-down"></i>
             <md-menu-content md-menu-align-target>
                <md-menu-item>
                  <md-button ng-click="doSomething()">Do Something</md-button>
                </md-menu-item>
             </md-menu-content>
            </md-menu>
              <!-- <i class="fa fa-caret-down"></i> -->
            </div>
          </div>
        </div>

        <!-- Folder View -->
        <div ng-if="currentView===3" class="md-accordion">
          <div ng-repeat="folder in folderSorted" class="directory-item-holder">
            <div class="directory-item" ng-init="folder.expanded=false" ng-click="folder.expanded=!folder.expanded">
              <i class="fa fa-folder"></i>&nbsp;&nbsp;<u>{{ folder.directory | directoryNameFixer}}</u>
            </div>
            <div  ng-class="{dataContent:true, activeContent:folder.expanded}">
            <div ng-repeat="song in folder.songs" class="song-item-holder">
              <a  ng-click="play($parent.$index, $index)">
                <div class="song-item">
                  {{song.song | extentionFixer}}
                </div>
              </a>
            </div>
            </div>
          </div>
        </div>


      </div>
    </div>



    <!-- Right pane -->
    <div class="music-player" flex="66">
      <!-- Top major part -->
      <div layout="row" class="player-extras">
        <div class="overlay-black"></div>
        <div class="thumbnail">
          <img ng-src="{{ currentSong.imageURL }}" class="thumbnail-img" />
        </div>
      </div>

      <!-- Controls -->
      <div class="player-controls" layout="row">
        <div class="control" flex="10" ng-click="toggleRepeat()">
          <a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a>
          <br /><span><p>{{ player.repeat }}</p>
        </span>
      </div>

      <div class="control" flex="20">
        <a href="#" ng-click="prev()"><i class="fa fa-fast-backward" aria-hidden="true"></i></a>
      </div>
      <div class="control" flex="40">
        <a ng-click="togglePlay()">
          <i class="fa" ng-class="player.playClass" aria-hidden="true">
          </i>
        </a>
      </div>
      <div class="control" flex="20">
        <a ng-click="next()"><i class="fa fa-fast-forward" aria-hidden="true"></i></a>
      </div>
      <div class="control" flex="10" ng-click="toggleShuffle()">
        <a href="#"><i class="fa fa-random" aria-hidden="true"></i></a>
        <br />
        <span>
          <p>{{ player.shuffle }}</p>
        </span>
      </div>
    </div>

    <!-- Bottom options -->
    <div class="player-options">
      <div layout="row" class="seekbar" flex="100">
        <md-slider-container>
          {{ player.currentTime | timeConverter }}<md-slider min="0" max="{{ player.duration }}" ng-model="player.currentTime" type="range" name="seekbar" id="audio-seekbar" ng-mouseup="changePlayback()"></md-slider>{{ player.endTime | timeConverter }}
        </md-slider-container>
      </div>
      <div layout="row" flex="100">
        <p>{{ currentSong.name | extentionFixer}}</p>
      </div>
      <div layout="row" flex="100" class="volume-control-holder">
        <i class="fa fa-volume-down" ng-click="decreaseVolume()"></i>
        <md-slider-container>
          <md-slider min="0" max="100" class="md-primary md-hue-4" ng-model="player.volume" step="5" type="range" name="volume-seekbar" id="volume-seekbar" ng-mouseup="changeVolume()"></md-slider>
        </md-slider-container>
        <i class="fa fa-volume-up" ng-click="increaseVolume()"></i>
      </div>
    </div>
  </div>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>

<!-- Custom Angular filters -->
<script src="js/song-name-replacer-filter.js"></script>
<script src="js/directory-name-replacer-filter.js"></script>
<script src="js/time-converter.js"></script>

<script type="text/javascript" src="js/window-interfacer.js"></script>

</body>
</html>
